/*--------BARRA DE NAVEGACION--------*/
#colorNav{
    background-color: #1a3151 !important;
}

/*--------LINKS BARRA DE NAVEGACION--------*/
.nav-link{
    color: white !important;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto 10px auto 0px;
}

/*--------LOGO BARRA DE NAVEGACION--------*/
.logo{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-left: 40px;
}

.logo h1{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
    border-bottom: 5px double white;
    font-family: 'Roboto Condensed', sans-serif;
}

/*--------CONTENIDO MAIN--------*/
main{
    background-color: rgb(233,233,233);
}

.tituloMain{
    margin: 40px 0 20px 40px;
    font-family: 'Oswald', sans-serif;
}

.tituloMain h2{
    font-size: 45px;
    width: max-content;
    font-weight: 700;
}

.noticia{
    margin: 40px;
    background-color: white;
    padding: 30px;
}

.noticia p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
}

.tituloNoticia h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contenidoNoticia{
    margin-top: 40px;
    letter-spacing: 1px;
    text-align: justify;
}

.imagenNoticia img{
    width: 100%;
    margin-top: 40px;
}

/*--------ASIDE--------*/

.informacionExtra{
    background-color: #b7c7d1;
}

.tituloAside{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-family: 'Oswald', sans-serif;

}



.informacionAside{
    padding: 30px;
    margin-top: 20px;
}

.informacionAside caption{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color:#1a3151 ;
    color: rgb(233,233,233);
    font-family: 'Roboto Condensed', sans-serif;
}

.partidos{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.goles{
    font-weight: bold;
}


.informacionAside #goleadores{
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.tableHeadGoleadores{
    background-color: #1a3151;
    color: rgb(233,233,233) !important;
}

/*--------FOOTER--------*/
footer{
    background-color: #1a3151;
    align-items: center;
}

.tituloFooter{
    display: flex;
    justify-content: center;
}

.tituloFooter h6{
    font-size: 32px;
    color: rgb(233,233,233);
    max-width: max-content;
    letter-spacing: 10px;
}

.textoRedesSociales{
    color: rgb(233,233,233);
    font-size: 18px;
}

.iconos a{
    text-decoration: none;
}

.iconos a i{
    color: rgb(233,233,233);
}


#colorFooter{
    background-color: #1a3151 !important;
}


/*--------SECCION POSICIONES--------*/

.contenedorTablas{
    background-color: #b7c7d1;
}

.titulosTabla{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
}

/*-------TABLA POSICIONES----------*/
.tablaPosiciones{
    padding: 40px;
}

.encabezadoTabla{
    background-color: #1a3151;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(233,233,233) !important;
}

.tablaPosiciones table{
    background-color: rgb(233,233,233) !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

#puestoCampeon{
    background-color: green;
}

.celdaPosicion{
    text-align: center;
}

/*-------TABLA PROMEDIOS----------*/

.tablaPromedios{
    padding: 40px;
}

.tablaPromedios table{
    background-color: rgb(233,233,233) !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

.abajoTabla{
    background-color: rgb(233,233,233);
    margin-top: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*-------TABLA ANUAL----------*/

.tablaAnual{
    padding: 40px;
    width: 100%;
}

.tablaAnual table{
    background-color: rgb(233,233,233) !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

#equipoClasificado{
    background-color: rgb(2, 102, 2);
}

#puestosLibertadores{
    background-color: rgb(98, 199, 98);
}

#puestosSudamericana{
    background-color: rgb(245, 245, 115);
}

.requisitosClasificados{
    background-color: rgb(2,102,2);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}

.puestosLibertadores{
    background-color:rgb(98, 199, 98);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}

.puestosSudamericana{
    background-color: rgb(245, 245, 115);
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

/*-------SECCION TRASPASOS----------*/

.filasTraspasos{
    justify-content: space-around;
    background-color: #b7c7d1;
}

.tituloTraspasos{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
}


.seccionTraspaso{
    background-color: rgb(233,233,233);
    padding: 20px;
    margin: 30px;
}

.imagenTraspaso {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenidoTraspaso{
    margin-top: 60px;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

strong{
    font-size: 24px;
}

.tituloGeneralTraspasos{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tituloGeneralTraspasos h2{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 900;
}

/*-------SECCION JORNADAS----------*/



.seccionJornada article{
    padding: 20px;
    background-color: #b7c7d1;
    margin: 20px;
}

/*-------MOBILE RESPONSIVE----------*/

@media only screen and (min-width:360px) and (max-width:760px){
    .ocultarCelda{
        display: none;
    }
    .logo h1{
        font-size: 28px;
    }
    .tituloMain h2{
        font-size: 24px;
    }
    .tituloNoticia h2{
        font-size: 32px;
    }
    .noticia{
        margin: 25px 5px 25px 5px;
        padding: 15px;
    }
    .contenidoNoticia p{
        font-size: 16px;
    }
    .partidos{
        font-size: 14px;
    }
}
